server:
  port: 8080
  servlet:
    context-path: /

spring:
  application:
    name: mock-oauth-server
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:8080

logging:
  level:
    org.springframework.security: DEBUG
    com.example: DEBUG
