server:
  port: 8081

spring:
  application:
    name: resource-server
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:8080
          jwk-set-uri: http://localhost:8080/certs

logging:
  level:
    org.springframework.security: DEBUG
    com.example: DEBUG
